.HomePage {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputBox {
    margin-bottom: 1rem;
  }

  .eventsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

  .eventsBox {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .eventCard {
      margin: 1rem;
      flex: 1 0 200px;
    }
  }
}
