@import "../../../styles/variables.scss";

.HomePage{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .inputBox{
        margin-bottom: 1rem;
    }

    .eventsBox{
       padding: 1rem;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       align-items: center;
       gap: 2rem;

       .eventCard{
        flex: 0 0 calc(25% - 2rem); 
        margin-bottom: 2rem; 
       }
    }
}