@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.header {
   height: 130px;
   background-color: $color-battleshipGrey;
   @include flexSpaceBetween();
   padding-left: 50px;
   padding-right: 50px;

   .menu{
    font-size: 45px;
    color: $color-black;
    cursor: pointer;
   }

   .title{
    font-size: 40px;
    color: $color-white;
   }
}

   .listItem{

      color: $color-battleshipGrey;
      margin-top: 50px;
      font-size: 30px;
      font-weight: bold;
      padding-left: 10px;
   }
