h1 {
  padding: 1em;
  text-align: center;
}
div {
  gap: 1em;
  margin-bottom: 1em;

  h2 {
    padding-bottom: 1em;
  }
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
}
