h1 {
  padding: 1em;
  text-align: center;
}
div {
  gap: 0.5em;
  margin-bottom: 0.5em;

  h2 {
    padding-bottom: 1em;
  }
}

form {
  display: flex;

  flex-direction: column;
  margin: 2em;
  padding: 2em;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
button {
  align-items: center;
}
